<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @vehicle.category.make.name %>
  <%= @vehicle.category.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @vehicle.condition %>
</p>

<p>
  <strong>Price:</strong>
  <%= @vehicle.price %>
</p>
<h2> Features </h2>
<ul> 
   <%- @vehicle.features.each do |feature| %>
       <li><%= feature.name %></li>
   <% end %> 
</ul>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
